.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0 50px 0;
	overflow: hidden;

	img {
		max-width: vw(288);

		@include desktop-xl {
			max-width: 288px;
		}

		@include tablet {
			max-width: 35vw;
		}
		
		@include mobile {
			max-width: 80vw;
		}
	}
}
