footer.footer
	+lazyPicture({
                src: `${baseDir}images/heart-hand.png`,
                alt: 'Жест сердце',
            }, 
            {
                srcset: `${baseDir}images/heart-hand.png`,
            }
        ).footer__pic()