section.hero
    .hero__left
        h1.hero__title
            #name
                | Ильдар Мустафин,
            #position
                | Frontend-разработчик

        p.hero__description
            | Основываясь на моем пятилетнем опыте разработки сайтов я с уверенностью могу сказать,
            | что наиболее важным для конечного результата должно быть удобство и привлекательность интерфейса,
            | для обеспечения максимально эффективной коммуникации между пользователем и владельцем сайта.
            | Внимние к мелочам, забота о пользователе и максимальная универсальность верстки - эти правила
            | нужно всегда удерживать в голове во время создания очередного продукта.

    .hero__right
        a.contact(href="mailto:creat4great@gmail.com")
            | creat4great@gmail.com
        br
        a.contact(href="tel:+7 (999) 000-00-00 ")
            | +7 (915) 422-50-80
        br
        span.contact
            | г. Коломна
        .social
            a.social__button(type="button" data-social="facebook")
                img(src="images/fb.svg" alt="Поделиться в Фейсбук")
            a.social__button(type="button" data-social="vk")
                img(src="images/vk.svg" alt="Поделиться во Вконтакте")
            a.social__button(type="button" data-social="telegram")
                img(src="images/tg.svg" alt="Поделиться в Телеграм")

    .red-line
        img(src="images/line-top.svg" alt="").for-desktop
        img(src="images/line-top-mob.svg" alt="").for-devices
