extends pug/base

prepend vars
	//-

append vars
	//-

block content
	include pug/data

	.site#top
		include pug/components/preloader
		include pug/components/back-to-top

		.container
			
			include pug/components/header
			
			include pug/components/hero
			
			include pug/components/about

			include pug/components/skills

			include pug/components/footer
